.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{padding-top: 0;}
.list_search .control-label{text-align: right;}
.list_search .col-md-6{margin-bottom: 15px;}
.select2-container.select2-container-disabled .select2-choice{background-color: #fff;}
.select2-container.select2-container-disabled .select2-choice .select2-arrow{background-color: #fff;}
