.list-bt{padding: 7px 0 0 0px; text-align: right;}
.list-row{margin-bottom: 10px;}
.list-body{border: 1px solid #ddd; padding: 10px;position: relative; margin: 0 0 10px 0; border-radius: 4px;}
.list-close{position: absolute;right: 0px;bottom: 0px;width: 20px; height: 20px;background-color: #E9ECF3;}
.list-close .close{width: 20px; height: 20px; background-position: center;}
/*.list-img{ width: 100%; height: auto;}*/
/*.list-img img{width: 100%; display: block;}*/
.list-row .btn-default{height: 34px;}
.list-body .btn{padding: 3px;font-size: 12px;}