<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdk.manage.dao.bd.QuickReplyDao" >
  <resultMap id="QuickReplyResultMap" type="com.pdk.manage.model.bd.QuickReply" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TIMESTAMP" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="SMALLINT" />
  </resultMap>

</mapper>