<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdk.manage.dao.sm.FileDao" >
  <resultMap id="BaseResultMap" type="com.pdk.manage.model.sm.File" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="SMALLINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pdk_sm_file
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.pdk.manage.model.sm.File" >
    insert into pdk_sm_file (id, name, length, 
      type, path, category, 
      status, memo, create_time, 
      ts, dr)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{length,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{memo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{ts,jdbcType=TIMESTAMP}, #{dr,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pdk.manage.model.sm.File" >
    update pdk_sm_file
    set name = #{name,jdbcType=VARCHAR},
      length = #{length,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      memo = #{memo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=SMALLINT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, name, length, type, path, category, status, memo, create_time, ts, dr
    from pdk_sm_file
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, length, type, path, category, status, memo, create_time, ts, dr
    from pdk_sm_file
  </select>
</mapper>