<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdk.manage.dao.sm.UserDescribeDao" >
  <resultMap id="UserDescribeResultMap" type="com.pdk.manage.model.sm.UserDescribe" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="source_id" property="sourceId" jdbcType="CHAR" />
    <result column="vdescribe" property="vdescribe" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="SMALLINT" />
  </resultMap>

  <select id="selectAllByUserId" parameterType="java.lang.String" resultMap="UserDescribeResultMap" >
    select id, user_id, source_id, vdescribe, ts, dr
    from pdk_sm_user_describe
    where dr = 0 and source_id = (
      select source_id from pdk_sm_user where id = #{userId, jdbcType=CHAR}
    )

  </select>

  <update id="delByDescribe" parameterType="java.lang.String" >
    update pdk_sm_user_describe set dr = 1
    where user_id = #{userId, jdbcType=CHAR} and vdescribe = #{describe, jdbcType=CHAR}
  </update>
</mapper>